/* Adicione este estilo em um arquivo CSS separado ou dentro do arquivo do componente */

.content-table {
  width: 290px;
  border-radius: 8px;
  height: 220px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: #1d1a17;
  margin-top: 1rem;
  list-style: none;
  align-items: center;
  flex-direction: column;
}

.title-table {
    align-self: flex-start;    
    margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: 20px; */
  border-style: hidden;
  background-color: #1d1a17;
}

thead {
  background-color: #16161b;
  border-style: hidden;
}

th,
td {
  border: 1px solid #1d1a17;
  text-align: left;
  padding: 8px;
  border-style: hidden;
}

tr:nth-child(even) {
  background-color: #16161b;
}

tr:hover {
  background-color: #1d1a17;
}
