.content-loja {
  width: 290px;
  border-radius: 8px;
  height: 220px;
  display: flex;
  justify-content: center;
  background-color: #1d1a17;
  list-style: none;
  align-items: center;
  flex-direction: column;
}

.title-loja {
  margin: 1rem 0;
}

.btn-loja {
  width: 8rem;
  height: 2.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9eaeb;
  text-decoration: none;
  background-color: #181613;
}

.btn-loja:hover {
  background-color: #403e3d;
}
